#version {
  font-size: 15px;
  align: center;
  color: gray;
  position: absolute;
  top: 0px;
  right: 29%;  
}
.body {
   background-color: aqua;
   padding: 10px;

}
.button {
    border: none;
    width:100%;
	height: 40px;
	background-color: #a5ffe1;
    display: block;
    font-size: auto;
    text-align: center;
    font-family: Verdana;
}
.button:hover {
  transition: 100ms;
  background-color: rgba(140, 169, 177, 0.8);
}
.button:active {
  background-color: gray;
  border: 1px solid black;
}
.title {
  background-color: rgba(160, 205, 236, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
input {
  border: none;
  background-color: rgba(252, 254, 255, 0.8)
}
input:hover {
  transition: 100ms;
  background-color: rgba(185, 168, 168, 0.8)
}
input:focus {
  transition: 100ms;
  background-color: rgba(231, 218, 218, 0.8)
}

.grid-container-2 { 
  display: grid;
  grid-gap: 50px;	
  grid-template-columns: 22% 22% 22% 22%;
  padding: 10px;
}
.Nouns {
  grid-column-start: 3;
  grid-column-end: 1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Verbs {
  grid-column-start: 3;
  grid-column-end: 6;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Adj {
  grid-column-start: 3;
  grid-column-end: 3;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Adv {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.save {
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  background-color: #019401;
  border: 1px  black;
}
.save:hover {
  transition: 100ms;
  background-color: #15c315;
}
.save:active {
  border: 1px solid black;
}
.edit {
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  background-color: #ffc600;
  border: 1px  black;
}
edit:hover {
  transition: 100ms;
  background-color: #ffc548;
}
.newName {
  position: fixed;
  bottom: 0;
  right: 15%;
  width: 200px;
  height: 25px;
}
#delButton {
  border: none;
  background-color: darkgray;
}
#delButton:hover {
  transition: 100ms;
  background-color: gray;
}

.grid-container-newWord {
  display: grid;
  grid-template-columns: 20% 3% 12% 12% 12% 12% 1% 20% 3% 5%;
  padding: 5px;
  grid-gap: 2px;

}
.newVerb-Dash {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
  font-size: 18px;
	
}
.newNoun-Def {
  font-family: Arial;
  font-size: 18px;
}
.newNoun-1 {
  font-family: arial;
  font-size: 18px;
}
.newNoun-2 {
  font-family: arial;
  font-size: 18px;
}
.newNoun-Gen {
  grid-column-start: 5;
  grid-column-end: 5;
  font-family: arial;
  font-size: 18px;
  width: 35%;
}
.newNoun-Decl {
  grid-column-start: 6;
  grid-column-end: 6;
  font-family: arial;
  font-size: 18px;
}
.newNoun-Der {
  grid-column-start: 8;
  grid-column-end: 8;
  font-family: arial;
  font-size: 18px;
	
}
.newVerb-Def {
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: arial;
  font-size: 18px;
  /*
  background-color: aqua;
  border-color: aqua;
  */
}
.newVerb-1 {
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 18px;
  font-family: arial;

}
.newVerb-2 {
  grid-column-start: 4;
  grid-column-end: 4;
  font-family: arial;
  font-size: 18px;
}
.newVerb-3 {
  grid-column-start: 5;
  grid-column-end: 5;
  font-family: arial;
  font-size: 18px;
}
.newVerb-4 {
  grid-column-start: 6;
  grid-column-end: 6;
  font-family: arial;
  font-size: 18px;
}
.newVerb-Der {
  grid-column-start: 8;
  grid-column-end: 8;
  font-family: arial;
  font-size: 18px;
}
.grid-container {
  display: grid;
  grid-gap: 50px;	
  grid-template-columns: 10% 15% auto 15% 10%;
  padding: 10px;
}
.newWord-Remove { /* button */
  grid-column-start: 10;
  grid-column-end: 10;  
  font-size: 20px;
}
.title {
  font-family: arial;
}
.backBtn {
  position: absolute;
  top: 6%;
  background-color: #b3b3b3;
  left: 3%;
  width: 10%;
}
.backBtn:hover {
  transition: 100ms;
  background-color: #696969;
}
.NewDeck {
  grid-column-start: 3;
  grid-column-end: 3;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.Existing {

  background-color: none;
  grid-column-start: 1;
  grid-column-end: 3;
  border: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Settings {
  grid-column-start: 4;
  grid-column-end: 6;
  border: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.settings-container {
  display: grid;
  margin-top: 50px;
  grid-gap: 10px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  
} 
.scheme-default {
	background-color: #177bf9;
    border: 2px solid #a7f1eecc; 
}
.scheme-default:hover {
    background-color: #1164a9;
}
.scheme-zeus {
	background-color: gold;
    border: 2px solid purple;
}
.scheme-zeus:hover {
	background-color: goldenrod;

}
.scheme-hera {
	background-color: white;
	border: 2px solid gold;
}
.scheme-hera:hover {
  background-color: #dcdcdc;
}
.scheme-vulcan {
	background-color: #b90505;
	border: 2px solid gray;
}
.scheme-vulcan:hover {
  background-color: #922424;
}
.choose-color {
  grid-column-start: 2;
  font-size: 25px;
  font-family: arial;
  font-style: italic;
}
.choose-container {
  align: center;
  display: grid;
  grid-gap: 25px;
  padding-top: 12px;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20%;
}
.choose-button {
}
.choose-button:hover {
  border: 1px solid black;
}
.choose-delete {
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  width: 6%;
  background-color: #b90071;
  right: 2%;
  bottom: 2%;
}
.choose-delete:hover {
  transition: 100ms;
  box-shadow: 0px 0px 156px 3px;
  background-color: #f153b4;
}
.choose-cancel {
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  width: 6%;
  background-color: #b90071;
  right: 2%;
  bottom: 2%;
}
.choose-cancel:hover {
  transition: 100ms;
  box-shadow: 0px 0px 156px 3px;
  background-color: #f153b4;
}
.delText {

  font-size: 48px;
  font-family: arial;
  color: #575757;

}
.deckExport {
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  width: 6%;
  background-color: #7f4646;
  background-color: #e45b5b;
  right: 9%;
  bottom: 2%;
}
.deckExport:hover {
  transition: 100ms;
  box-shadow: 0px 0px 156px 3px;
  background-color: #ff8282;
}
.deckImport, .deckImport-cancel {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  width: 6%;
  background-color: #b9f32e;
  right: 16%;
  bottom: 2%;
}
.deckImport:hover, .deckImport-cancel:hover {
  transition: 100ms;
  box-shadow: 0px 0px 156px 3px;
  background-color: #d9ff82;
}
.inputImport {
  position: absolute;
  right: 16%;
  top: 40%;
  border: 2px solid black;
  width: 1050px;
  height: 200px;
}
.buttonImport {
  position: absolute;
  background-color: #08e456;
  width: 10%;
  right: 42%;
  bottom: 12%; 
}
.buttonImport:hover {
  transition: 100ms;
  box-shadow: 0px 0px 156px 3px;
  background-color: #2fff2c;
}
.inputExport {
  position: absolute;
  right: 16%;
  top: 40%;
  border: 2px solid black;
  width: 1050px;
  height: 200px;
}
hr {
  border: 1px solid #673737;
  margin-top: 1%;
  margin-right: 7%;
  margin-left: 7%;
  overflow: hidden;
  border-style: double;
  border-width: 1px;
}
.dashboard-container {
  display: grid;
  grid-gap: 25px;
  padding-left: 203px;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20%, 20%, 20%;
}
.dashboard-line {
  margin-top: 7%
}
.waystostudy {
  font-family: arial;
  position: absolute;
  left: 10%;
  grid-column-start: 1;
  font-size: 30px;
}
.write {
  margin-top: 30px;
  grid-column-start: 1;
  grid-row-start: 3;
}
.flashcards {
  margin-top: 30px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.preview-container {
  display: grid;
  grid-gap: 25px;
  padding-left: 203px;
  grid-template-columns: 20% 3% 35% 20% 20%;
  grid-auto-rows: 6px;
}
.deckpreviewtext {
  position: absolute;
  font-family: arial;
  left: 10%;
  grid-column-start: 1;
  font-size: 30px;
  font-family: sans-serif;
}
.deck-edit {
  margin-left: -25%;
  margin-top: 15%;
  font-family: arial;
  left: 10%;
  width: 25%;
  height: 30px;
  grid-column-start: 1;
  grid-row-start
  font-size: 25%x;
  font-family: sans-serif;
}
.prvw-noun-def {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 1;

}
.prvw-noun-dash {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 2;
}
.prvw-noun-main {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 3;
}
.prvw-noun-der {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 4;
}
.prvw-verb-def {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 1;
}
.prvw-verb-dash {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 2;
  
}

.prvw-verb-main {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 3;
}
.prvw-verb-der {
  font-family: sans-serif;
  padding-top: 50px;
  font-size: 24px;
  grid-column-start: 4;
}
.flashcard-container {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 400px;
}
.flashcard-inside {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 20px 20%;
  box-shadow: 6px 10px 8px 2px #0000005e;
  border-radius: 5px;
  background-color: #ccffff;
  text-align: center;
  cursor: pointer;
  */
}

.counter {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}
.next-btn {
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 40%;
  margin-left: 10%;
  justify-self: left;
  border-radius: 50px;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
.finish-btn {
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 40%;
  margin-left: 10%;
  justify-self: left;
  border-radius: 50px;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
.back-btn {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 40%;
  margin-right: 10%;
  justify-self: right;
  border-radius: 50px;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
.back-btn-gray {
  visibility: hidden;
  transition: 0;
}
.front {
  word-wrap: break-word;
  font-family: arial;
  font-size: 45px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 33px 2px #0000005e;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 2;
  cursor: pointer;
  line-height: 8;
}
.back {
  overflow-wrap: break-word;
  font-family: arial;
  word-wrap: break-word;
  font-size: 175%;
  border-radius: 5px;
  box-shadow: 0px 0px 33px 2px #0000005e;
  background-color: white;
  text-align: center;
  grid-column-start: 2;
  cursor: pointer;
  line-height: 12;

}
.write-container {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 400px;
}
.write-wrapper {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 30% 40% 30%;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: white;
}
.check-answers {
  margin-bottom: 10%;
  align-self: end;;
  grid-column-start: 2;
  grid-row-start: 3;
}
.check {
  margin-bottom: 10%;
  align-self: end;;
  grid-column-start: 2;
  grid-row-start: 3;
}
.write-input {
  background-color: #e7e7e7;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 25px;
  font-family: arial;
  padding-top: 50px;;
  text-align: center;
}
.fillblank-input {
  font-size: ;
  width: 30%;
  height: 25px;
}
.correct {
  font-family: arial;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  margin: 40px;
  white-space: nowrap;
  color: green;
  font-size: 48px;
}
.incorrect {
  font-family: arial;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  margin: 40px;
  padding-top: 10px;
  white-space: nowrap;
  color: red;
  font-size: 40px;
}
.outof {
  grid-column-start: 2;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  font-family: arial;
}